                             /* Урок 10.1 */

/* .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.label {
    font-size: 16px;
    margin-bottom: 5px;
}

.search-input,
.days-select,
.search-button {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.search-input {
    width: 100%;
    max-width: 300px;
}

.days-select {
    width: 100px;
}

.input-group {
    display: flex;
    align-items: center;
}

.search-button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}






.weather-cards {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.weather-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.weather-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.date {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.weather-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.temperature {
    font-size: 24px;
    color: #ff6600;
    font-weight: bold;
} */



/* Урок 10.2 */


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .load-more-hidden {
    display: none;
  }
  
  .load-more {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .load-more:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  .movie-card {
    position: relative;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .movie-info {
    padding: 15px;
  }
  
  .movie-info h2 {
    margin: 0;
    font-size: 1.8em;
    color: #333;
  }
  
  .movie-info p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #777;
  }